# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

/.idea
/build
/tests/coverage
/vendor
/docs/_build
/docs/_static
node_modules

/composer.lock
/.php-cs-fixer.cache
/.phpunit.result.cache
