language: php
sudo: false

matrix:
  include:
    - php: hhvm
      sudo: required
      services:
       - docker
    - php: 7.0
      env: lowest=1
    - php: 7.1
    - php: 7.2
    - php: nightly

cache:
  directories:
    - $HOME/.cache/composer/files

install:
  - |
    if [ "$TRAVIS_PHP_VERSION" = "hhvm" ]; then
      docker pull hhvm/hhvm:latest;
      docker run hhvm/hhvm:latest hhvm --version;
      docker run --name hhvmapt hhvm/hhvm:latest bash -c "apt update -y; apt install -y dialog apt-utils wget curl git";
      docker commit hhvmapt dvdoug/hhvm:apt;
      docker run --name hhvmcomposer dvdoug/hhvm:apt bash -c "/usr/bin/curl https://getcomposer.org/installer | hhvm -d hhvm.php7.all=1 --php -- /dev/stdin --install-dir=/usr/local/bin --filename=composer";
      docker commit hhvmcomposer dvdoug/hhvm:composer;
    else
      phpenv config-rm xdebug.ini || true;
    fi;

  - |
    if [ "$TRAVIS_PHP_VERSION" = "hhvm" ]; then
      docker run -v $(pwd):/var/source dvdoug/hhvm:composer hhvm -d hhvm.php7.all=1 /usr/local/bin/composer update --working-dir /var/source;
    elif [ "$lowest" = "1" ]; then
      composer update --prefer-lowest --prefer-stable;
    else
      composer update;
    fi;

before_script:
  - |
    if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then
      echo "memory_limit = 3072M" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini;
    fi;

script:
  - |
    if [ "$TRAVIS_PHP_VERSION" = "hhvm" ]; then
      docker run -v $(pwd):/var/source dvdoug/hhvm:composer hhvm -d hhvm.php7.all=1 /var/source/vendor/bin/phpunit /var/source/tests;
    elif [ "$TRAVIS_PHP_VERSION" = "7.1" ]; then
      phpdbg -qrr vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover tests;
    else
      php vendor/bin/phpunit;
    fi;

after_script:
  - |
    if [ "$TRAVIS_PHP_VERSION" = "7.1" ]; then
      wget https://scrutinizer-ci.com/ocular.phar;
      php ocular.phar code-coverage:upload --format=php-clover coverage.clover;
    fi;
