group: travis_latest
language: php
sudo: false

matrix:
  include:
    - php: hhvm
      sudo: required
      services:
       - docker
    - php: 5.4
      env: lowest=1
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2

cache:
  directories:
    - $HOME/.cache/composer/files

install:
  - |
    if [ "$TRAVIS_PHP_VERSION" = "hhvm" ]; then
      docker pull hhvm/hhvm:3.24-lts-latest;
      docker run hhvm/hhvm:3.24-lts-latest hhvm --version;
      docker run --name hhvmapt hhvm/hhvm:3.24-lts-latest bash -c "apt update -y; apt install -y dialog apt-utils wget curl git";
      docker commit hhvmapt dvdoug/hhvm:apt;
      docker run --name hhvmcomposer dvdoug/hhvm:apt bash -c "/usr/bin/curl https://getcomposer.org/installer | hhvm --php -- /dev/stdin --install-dir=/usr/local/bin --filename=composer";
      docker commit hhvmcomposer dvdoug/hhvm:composer;
    else
      phpenv config-rm xdebug.ini || true;
    fi;

  - |
    if [ "$TRAVIS_PHP_VERSION" = "hhvm" ]; then
      docker run -v $(pwd):/var/source dvdoug/hhvm:composer hhvm /usr/local/bin/composer update --working-dir /var/source;
    elif [ "$lowest" = "1" ]; then
      composer update --prefer-lowest --prefer-stable;
    else
      composer update;
    fi;

before_script:
  - |
    if [ "$TRAVIS_PHP_VERSION" != "hhvm" ] && [ "$TRAVIS_PHP_VERSION" != "5.4" ] && [ "$TRAVIS_PHP_VERSION" != "5.5" ] && [ "$TRAVIS_PHP_VERSION" != "5.6" ]; then
      echo "memory_limit = 3072M" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini;
    fi;

script:
  - |
    if [ "$TRAVIS_PHP_VERSION" = "hhvm" ]; then
      docker run -v $(pwd):/var/source -w /var/source dvdoug/hhvm:composer hhvm /var/source/vendor/bin/phpunit;
    else
      php vendor/bin/phpunit;
      php vendor/bin/behat --strict;
    fi;
